######################################################################
# Apache info/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.43 2006/03/17 14:00:10 papu Exp $
# "PyukiWiki" version 0.1.6 $$
######################################################################

Order allow,deny
Deny from all

## Options can use, it is good to add the following setup.
#Options -Indexes
