######################################################################
# Apache plugin/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.82 2011/05/03 20:43:28 papu Exp $
# "PyukiWiki" version 0.1.9 $$
######################################################################

Order allow,deny
Deny from all

## Options can use, it is good to add the following setup.
#Options -Indexes -ExecCGI

## In the case of public plug-in, it is good to set up in this way.
#<FilesMatch "\.(inc\.pl|pl)$">
#	Order deny,allow
#	Allow from all
#</FilesMatch>
#AddType text/plain .pl
