######################################################################
# Apache image/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.316 2011/12/31 13:06:09 papu Exp $
# "PyukiWiki" version 0.2.0 $$
######################################################################

## Options can use, it is good to add the following setup.
#Options -Indexes

## sample prevention of direct link from other site
#SetEnvIf Referer "^http://pyukiwiki.sourceforge.jp/" ref01
#Order deny,allow
#Deny from all
#Allow from env=ref01

