######################################################################
# Apache image/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.479 2012/03/18 11:23:49 papu Exp $
# "PyukiWiki" ver 0.2.0-p3 $$
######################################################################

## Options can use, it is good to add the following setup.
#Options -Indexes

## sample prevention of direct link from other site
#SetEnvIf Referer "^http://pyukiwiki.sourceforge.jp/" ref01
#Order deny,allow
#Deny from all
#Allow from env=ref01

