######################################################################
# Apache diff/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.76 2011/02/22 20:59:12 papu Exp $
# "PyukiWiki" version 0.1.8-p3 $$
######################################################################

Order allow,deny
Deny from all

## Options can use, it is good to add the following setup.
#Options -Indexes
