######################################################################
# Apache plugin/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.171 2011/12/31 13:06:14 papu Exp $
# "PyukiWiki" version 0.2.0 $$
######################################################################

Order allow,deny
Deny from all

## Options can use, it is good to add the following setup.
#Options -Indexes -ExecCGI

## In the case of public plug-in, it is good to set up in this way.
#<FilesMatch "\.(inc\.pl|pl)$">
#	Order deny,allow
#	Allow from all
#</FilesMatch>
#AddType text/plain .pl
