######################################################################
# Apache wiki/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.415 2012/01/31 10:12:00 papu Exp $
# "PyukiWiki" version 0.2.0-p1 $$
######################################################################

Order allow,deny
Deny from all

## Options can use, it is good to add the following setup.
#Options -Indexes
