######################################################################
# Apache image/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.58 2011/01/25 03:11:15 papu Exp $
# "PyukiWiki" version 0.1.8-p2 $$
######################################################################

## Options can use, it is good to add the following setup.
#Options -Indexes

## sample prevention of direct link from other site
#SetEnvIf Referer "^http://pyukiwiki.sourceforge.jp/" ref01
#Order deny,allow
#Deny from all
#Allow from env=ref01

