######################################################################
# Apache plugin/.htaccess for PyukiWiki
# $Id: .htaccess,v 1.76 2011/01/25 03:11:15 papu Exp $
# "PyukiWiki" version 0.1.8-p2 $$
######################################################################

Order allow,deny
Deny from all

## Options can use, it is good to add the following setup.
#Options -Indexes -ExecCGI

## In the case of public plug-in, it is good to set up in this way.
#<FilesMatch "\.(inc\.pl|pl)$">
#</FilesMatch>
#AddType text/plain .pl
